//color veriables
$primary:#1bb457 !important;
$secondary:#274733 !important;
$heading:#4d4f5c;
$midnight:#1d2339;
$white:#ffffff;
$black:#000000;
$paragraph:#43425d;
$placeholder:#616161;
$border:#d7dae2;
$lavender: #e9e9f0;
$light-primary:#00f35f;
$bittersweet:#ff6363;
$ghost-white:#f9f9fb;
$ghost:#bcbccb;
$light-gray: #c9c9c9;
$dim-gray:#707070;
$white-smoke:#f3f3f3;
$gainsboro:#dfdfdf;
$dodger-blue:#61affc;




// font-family veriables
$basic:'Basic',
sans-serif;
$source:'Source Sans Pro',
sans-serif;

.basic {
    font-family: $basic;
}